.subscribe{
    border-top: 1px solid rgb(224, 224, 224);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'Lora', 'serif';
}

.subscribeHeader{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subscribeHeaderClick{
    color: #be9656;
    cursor: pointer;
}

.subscribeForm{
    display: flex;
    flex-direction: row;
    width: 90%;
    font-family: 'Lora', 'serif';
}

.subscribeInput{
    border-radius: 7px;
    text-align: center;
    padding: 10px 50px;
    display: inline-block;
    border: none;
    background-color: rgb(245, 245, 245);
    outline: none;
    margin-right: 10px;
}

.subscribeSubmit{
    height: 35px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 130px;
    background-color: rgb(65, 168, 139);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 10px;
    font-family: 'Lora', 'serif';
}

.subscribeSubmitCancel{
    font-weight: bold;
    color: rgb(79, 79, 79);
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
}

.subscribeSubmit:hover{
    background-color:rgb(67, 171, 142);
}

.reply{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lora', 'serif';
}

.replyHeader{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.replyForm{
    display: flex;
    flex-direction: column;
}

.replyInput{
    border-radius: 7px;
    padding: 10px 30px;
    display: inline-block;
    border: none;
    background-color: rgb(245, 245, 245);
    outline: none;
    width: 180px;
    margin-bottom: 10px;
}


.subscriberIconsContainer{
    display: flex;
    font-size: 25px;
    cursor: pointer;
    margin: 10px 0px;
    align-items: center;
    text-align: center;
}

.subscriberIconLikeFilled, 
.subscriberIconLikeEmpty{
    font-size: 20px;
}

.subscriberIconLikeFilled{
    color: rgb(176, 73, 73);
}

.subscriberIconLikeEmpty:hover{
    color: rgb(176, 73, 73);
}

.subscriberLikesCount{
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.subscriberIconComment{
    margin-right: 15px;
    font-size: 22px;
}

.subscriberIconComment:hover{
    color:rgb(71, 90, 185);
}

.notificationSubscriberError{
    background-color: rgb(207, 140, 81);
    color:white;
    width: 240px;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-left: 10px;
}

.notificationSubscriberErrorComments{
    background-color: rgb(207, 140, 81);
    color:white;
    width: 270px;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-left: 10px;
}

.notificationSubscriberSuccess{
    background-color: rgb(80, 173, 128);
    color:white;
    width: 200px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.notificationIcon{
    margin-right: 10px;
    font-size: 16px;
}

.replyText{
    border-radius: 7px;
    height: 100px;
    padding: 10px 50px;
    display: inline-block;
    border: none;
    background-color: rgb(245, 245, 245);
    outline: none;
    width: 90%;
    margin-bottom: 15px;
    font-family: 'Lora', 'serif';
}

.replySubmit{
    height: 35px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    background-color: rgb(65, 72, 168);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Lora', 'serif';
}

.postCommentContainer{
    margin-bottom: 20px;
    padding-top: 20px;
    font-family: 'Lora', 'serif';
}

.commentPrev, .commentAdded{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.commentPrevHeader{
    font-family: 'Lora', 'serif';
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.commentPrevWrapper, .commentAddedWrapper{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.commentPrevInfo, .commentAddedInfo{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.commentPrevUser, .commentAddedUser{
    margin-right: 15px;
    font-weight: bold;
}

.commentPrevDate, .commentAddedDate{
    color: #b39656;
    font-style: italic;
    font-size: 12px;
}

.commentPrevMessage, .commentAddedMessage{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.commentsShowMoreText{
    font-size: 14px;
    color: rgb(97, 97, 97);
    cursor: pointer;
}

.commentLikeDeleteContainer{
    display: flex;
    flex-direction: row;
}

.commentLikeText{
    font-size: 10px; 
    color: rgb(148, 148, 148);
    margin-left: 5px;
}

.commentDeleteText{
    font-size: 10px;
    color: rgb(148, 148, 148);
    font-style: italic;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100px;
    margin-left: 10px;
}

.commentIconLikeFilled, 
.commentIconLikeEmpty{
    font-size: 12px;
    color: rgb(148, 148, 148);
    cursor: pointer;
}

.commentIconLikeFilled{
    color: rgb(176, 73, 73);
}

.commentIconLikeEmpty:hover{
    color: rgb(176, 73, 73);
}
