.subscribe{
    border-top: 1px solid rgb(224, 224, 224);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'Lora', 'serif';
}

.subscribeToggleContainer{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 40px;
}

.subscribeToggleText{
    color: var(--text-primary);
}

.subscriberToggleEnable{
    color: var(--main-color);
}

.subscribeToggle {
    position: relative;
    display: inline-block;
}

.subscribeToggleInput {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.subscribeToggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 40px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--toggle-background);
    transition: 0.4s;
}

.subscribeToggleSlider:before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-color-secondary);
    border-radius: 50%;
    transition: 0.4s;
}

.subscribeToggleInput:checked + .subscribeToggleSlider{
    background-color: var(--toggle-background-clicked);
}

.subscribeToggleInput:checked + .subscribeToggleSlider:before{
    transform: translateX(16px);
}

.subscribeHeader{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-primary);
}

.subscribeHeaderClick{
    color: var(--main-color);
    cursor: pointer;
}

.subscribeForm{
    display: flex;
    flex-direction: row;
    width: 90%;
    font-family: 'Lora', 'serif';
}

.subscribeInput{
    border-radius: 7px;
    text-align: center;
    padding: 10px 50px;
    display: inline-block;
    border: none;
    background-color: var(--background-hover);
    color: var(--text-secondary);
    outline: none;
    margin-right: 10px;
}

.subscribeInput::placeholder{
    color: var(--text-secondary);
}

.subscribeSubmit{
    height: 35px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 130px;
    background-color: rgb(65, 168, 139);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 10px;
    font-family: 'Lora', 'serif';
}

.subscribeSubmitCancel{
    font-weight: bold;
    color: var(--text-secondary);
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
}

.subscribeSubmit:hover{
    background-color:rgb(67, 171, 142);
}

.reply{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lora', 'serif';
    color: var(--text-primary);
}

.replyHeader{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.replyHeaderUsername{
    color: var(--main-color);
}

.replyForm{
    display: flex;
    flex-direction: column;
}

.replyFormSubscriber{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.replyFormSubscriberSaveBtn{
    font-size: 12px;
    margin-left: 15px;
    /* color: white; */
    text-align: center;
    display: flex;
    color: rgb(92, 124, 176);
    border: 1px solid rgb(92, 124, 176);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.replyFormSubscriberDeleteBtn{
    font-size: 12px;
    margin-left: 15px;
    text-align: center;
    display: flex;
    color: rgb(125, 125, 125);
    border: 1px solid rgb(161, 161, 161);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.replyInput{
    border-radius: 7px;
    padding: 10px 30px;
    display: inline-block;
    border: none;
    background-color: var(--background-hover);
    color: var(--text-secondary);
    outline: none;
    width: 180px;
}

.replyInput::placeholder{
    color: var(--text-secondary);
}


.subscriberIconsContainer{
    display: flex;
    font-size: 25px;
    cursor: pointer;
    margin: 10px 0px;
    align-items: center;
    text-align: center;
    color: var(--text-primary)
}

.subscriberIconLikeFilled, 
.subscriberIconLikeEmpty{
    font-size: 20px;
}

.subscriberIconLikeFilled{
    color: rgb(176, 73, 73);
}

.subscriberIconLikeEmpty:hover{
    color: rgb(176, 73, 73);
}

.subscriberLikesCount{
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.subscriberIconComment{
    margin-right: 15px;
    font-size: 22px;
}

.subscriberIconComment:hover{
    color:rgb(71, 90, 185);
}

.notificationSubscriberError{
    background-color: rgb(207, 140, 81);
    color:white;
    width: 240px;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-left: 10px;
}

.notificationSubscriberErrorComments{
    background-color: rgb(207, 140, 81);
    color:white;
    width: 270px;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-left: 10px;
}

.notificationSubscriberSuccess{
    background-color: rgb(80, 173, 128);
    color:white;
    width: 200px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.notificationSubscriberEmailSaved{
    background-color: rgb(80, 173, 128);
    color:white;
    width: 70px;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-left: 15px;
}

.notificationIcon{
    margin-right: 10px;
    font-size: 16px;
}

.replyText{
    border-radius: 7px;
    height: 100px;
    padding: 10px 50px;
    display: inline-block;
    border: none;
    background-color: var(--background-hover);
    outline: none;
    width: 90%;
    margin-bottom: 15px;
    font-family: 'Lora', 'serif';
    color: var(--text-secondary);
}

.replyText::placeholder{
    color: var(--text-secondary)
}

.replySubmit{
    height: 35px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    background-color: rgb(65, 72, 168);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Lora', 'serif';
}

.postCommentContainer{
    margin-bottom: 20px;
    padding-top: 20px;
    font-family: 'Lora', 'serif';
    color: var(--text-primary);
}

.commentPrev, .commentAdded{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.commentPrevHeader{
    font-family: 'Lora', 'serif';
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.commentPrevWrapper, .commentAddedWrapper{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.commentAddedRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentAddedColumn{
    display: flex;
    flex-direction: column;
}

.commentPicWrapper{
    background-color: rgb(75, 89, 105);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    font-size: 16px;
}

.commentPic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.commentPrevInfo, .commentAddedInfo{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
}

.commentPrevUser, .commentAddedUser{
    margin-right: 15px;
    font-weight: bold;
    color: var(--text-primary);
}

.commentPrevDate, .commentAddedDate{
    color: var(--main-color);
    font-style: italic;
    font-size: 12px;
}

.commentPrevMessage, .commentAddedMessage{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-secondary);
}

.commentsShowMoreText{
    font-size: 14px;
    color: rgb(120, 120, 120);
    cursor: pointer;
}

.commentLikeDeleteContainer{
    display: flex;
    flex-direction: row;
}

.commentLikeText{
    font-size: 10px; 
    color: rgb(148, 148, 148);
    margin-left: 5px;
}

.commentDeleteText{
    font-size: 10px;
    color: rgb(148, 148, 148);
    font-style: italic;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100px;
    margin-left: 10px;
}

.commentIconLikeEmpty{
    font-size: 12px;
    color: rgb(148, 148, 148);
    cursor: pointer;
}

.commentIconLikeFilled{
    font-size: 12px;
    color: rgb(176, 73, 73);
    cursor: pointer;
}

.commentIconLikeEmpty:hover{
    color: rgb(176, 73, 73);
}

.commentsDisabledText{
    color: #999;
    font-style: italic;
    margin-left: 10px;
    font-size: 20px;
    width: 300px;
}

@media screen and (max-width: 1150px){
    .subscribe{
        padding: 0px;
    }
    
    .reply{
        padding: 0px;
    }

    .replyText{
        padding:0px;
    }

    .commentPrev, .commentAdded{
        padding: 0px;
    }
}

@media screen and (max-width: 850px){

    .subscribeForm{
        flex-direction: column;
        width: 200px;
    }

    .subscribeInput{
        padding: 10px 20px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .subscribeSubmit{
        height: 30px;
        width: 120px;
        font-size: 14px;
        margin-left: 0px;
    }
    
    .subscribeSubmitCancel{
        margin-left: 0px;
        font-size: 12px;
        width: 100px;
        justify-content: left;
        margin-top: 5px;
    }
}

