.settings{
    display: flex;
    margin-top: 40px;
    position: relative;
}

.settingsWrapper{
    flex: 9;
    padding: 20px;
}

.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(53, 109, 161);
}

.settingsUpdateMode{
    display: flex;
}

.settingsEdit{
    font-size: 15px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: rgb(65, 150, 123);
    color: white;
}

.settingsEdit:hover{
    background-color: rgb(73, 156, 130);
}

.settingsEditCancel{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: rgb(65, 65, 65);
}

.settingsDelete{
    font-size: 15px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 68, 68);
    color: white;
}

.settingsDelete:hover{
    background-color: rgb(233, 86, 86);
}

.settingsDeleteAccount{
    position: fixed;
    top: 200px;
    left: 500px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: rgb(248, 248, 248);
    font-family: 'Lora', 'serif';
}

.settingsDeleteTitle{
    color: rgb(210, 45, 45);
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 10px;
    align-self: flex-start;
}

.settingsDeleteText{
    font-size: 15px;
}

.settingsDeleteOptions{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.settingsDeleteOption{
    background-color: rgb(206, 59, 59);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 30px;
    cursor: pointer;
    color: white;
}

.settingsDeleteOption:first-child{
    background-color: rgb(45, 152, 92);
}

.settingsForm{
    display: flex;
    flex-direction: column;
}

.settingsPP{
    display: flex;
    align-items:center;
    margin: 10px 0px;
}

.settingsPPSaved{
    display: flex;
    height: 70px;
    width: 70px;
    align-items:center;
    border-radius: 20px;
    object-fit: cover;
    margin: 10px 0px;
}

.settingsPP > img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsPPIcon:hover{
    background-color: rgb(74, 127, 176);
    color: white;
}

.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

.settingsBioText {
    border: none;
    height: 50px;
    outline: none;
    margin: 10px 0;
}

.settingsInfoSaved{
    margin: 15px 0px;
    color: gray;
}

.settingsFinalStep{
    display: flex;
    justify-content: space-between;
}

.settingsSubmit{
    color: white;
    width: 110px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(65, 72, 168);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 20px;
}

.settingsSubmit:hover{
    background-color: rgb(75, 81, 167);
}

.notification{
    background-color: rgb(101, 204, 154);
    color:white;
    width: 200px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.successIcon{
    margin-right: 5px;
    font-size: 16px;
}

.notificationError{
    background-color: rgb(213, 137, 70);
    color:white;
    width: 150px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.notificationPassword{
    background-color: rgb(213, 70, 70);
    color:white;
    width: 230px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.errorIcon{
    margin-right: 5px;
    font-size: 16px;
}