.toggleContainer{
    display: flex;
    flex-direction: row;
}

.toggle {
    position: relative;
    display: inline-block;
}

.toggleInput {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.toggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 40px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--toggle-background);
    transition: 0.4s;
}

.toggleSlider:before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-color-secondary);
    border-radius: 50%;
    transition: 0.4s;
}

.toggleInput:checked + .toggleSlider{
    background-color: var(--toggle-background-clicked);
}

.toggleInput:checked + .toggleSlider:before{
    transform: translateX(16px);
}

