.homeAbout{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 80px;
    background-color: var(--background-section);
    border-radius: 20px;
    width: 90%;
}

.homeAboutLeft{
    display: flex;
    flex-direction: row;
    flex: 3;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.homeAuthorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.homeAuthorWrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: -90px;
}

.homeAuthorPPWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
    width: 100%;
}

.homeAuthorContainer:hover .homeAuthorPPWrapper{
    background-color: #749fbc;
}

.homeAuthorPP{
    display: flex;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


.homeAboutReadMore{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lora', 'serif';
    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--main-color-third);
    border: none;
    text-decoration: none;
    font-size: 14px;
    width: 140px;
    transition: all 0.5s linear;
    border-radius: 10px;
  }

  .homeAboutBook{
    margin-left: 10px;
  }

  .homeAboutReadMore:hover {
    background-color: var(--main-color-third-hover);
    width: 150px;
  }

  .homeAboutBookHide{
    display: none;
  }

.homeAboutRight{
    display: flex;
    flex-direction: column;
    flex: 5;
    margin-left: 40px;
}

.homeAboutTextContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}

.homeAboutTitle{
    align-self: left;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Lora', 'serif';
    color: var(--text-title);
}

.homeAboutText{
    align-items: center;
    font-family: 'Lora', 'serif';
    color: var(--text-primary);
    font-size: 18px;
    margin-bottom: 30px;
}