.postSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    margin: 15px 0px;
}

.postSectionContainer{
    margin-top: 20px;
}

.postSectionHeader{
    text-align: left;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    color: var(--text-primary);
    line-height: 25px;
}

.postSectionImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.postSectionImg{
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
    border-radius: 10px;
}

.postSectionImgDesc{
    color: var(--text-secondary);
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

.postSectionText{
    margin-top: 10px;
    color: var(--text-secondary);
    font-size: 16px;
    line-height: 25px;
    white-space: pre-wrap;
    font-family: 'Lora', 'serif';
}

.postSectionListTitle{
    margin: 20px 0px 10px 0px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Josefin Sans', 'sans-serif';
    color: var(--text-primary);
    line-height: 25px;
}

.postSectionList{
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.postSectionListItem{
    font-size: 16px;
    color: var(--text-secondary);
    line-height: 25px;
    font-family: 'Lora', 'serif';
}

.postSectionListItemHide{
    margin:0;
    padding:0;
    list-style: none;
}

.postSectionTableOfContentsContainer{
    width: 200px;
    background-color: var(--background-hover);
    padding: 20px;
    border-radius: 10px;
}

.postSectionTableOfContentsTitle{
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-primary)
}

.postSectionTableOfContentsWrapper{
    display: flex;
    align-items: center;
    font-family: 'Lora', 'serif';
    font-size: 16px;
}

.postSectionContent{
    margin-top: 5px;
    cursor: pointer;
    color: var(--text-secondary);
    padding: 10px;
    width: 100%;
}

.postSectionContent:hover{
    background-color: var(--background-section);
    border-radius: 10px;
}