.postSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    padding-right: 10px;
}

.postSectionContainer{
    margin-top: 20px;
}

.postSectionHeader{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #667;
    line-height: 25px;
}

.postSectionImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.postSectionImg{
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
    border-radius: 10px;
}

.postSectionImgDesc{
    color: #667;
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.postSectionText{
    color: #667;
    font-size: 16px;
    line-height: 25px;
}

.postSectionListTitle{
    margin: 20px 0px 10px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #667;
    line-height: 25px;
}

.postSectionList{
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.postSectionListItem{
    font-size: 16px;
    color: #667;
    line-height: 25px;
}