.login{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/public/img/travel4.jpg");
    background-size: cover;
    font-family: 'Lora', 'serif';
}

.loginTitle{
    font-size: 50px;
    color: rgb(51, 96, 139);
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.loginForm > label{
    margin: 15px 0px;
}

.loginForm > input{
    padding: 10px;
    background-color: white;
    border: none;
    width: 200px;
    border-radius: 5px;
    outline: none;
}

.loginSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loginButton{
    margin-top: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    background-color: rgb(65, 72, 168);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
}

.loginButton:disabled{
    cursor: not-allowed;
}

.loginButton:hover{
    background-color: rgb(75, 81, 167);
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}