.home{
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to right, #7edbd1 0%,#97d1f2 35%,#8673db 100%) */
}

.homeText{
    text-align: center;
    font-size: 20px;
    font-family: 'Lora', 'serif';
    color: rgb(123, 123, 123);
    margin: 20px 0px 10px 0px;
}

.homePostsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}

.homePostsContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .homePostsContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
