.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to right, #7edbd1 0%,#97d1f2 35%,#8673db 100%); */
    position: relative;
    width: 100%;
    overflow: hidden;
}

.homeText{
    text-align: center;
    font-size: 20px;
    font-family: 'Lora', 'serif';
    color: rgb(123, 123, 123);
    margin: 50px 0px 10px 0px;
}

.homePostsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    transition: all 0.5s ease-in-out;
    width: 160vw;
    left: 0;
    right: 0;
    top: 100px;
    position: absolute;
}

.homePostsContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .homePostsContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .homeReadMore{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(96, 125, 151);
    font-family: 'Lora', 'serif';
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(236, 236, 236);
    border: none;
    text-decoration: none;
    font-size: 14px;
    width: 140px;
    transition: all 0.5s linear;
    border-radius: 10px;
  }

  .homePlane{
    margin-left: 10px;
  }

  .homeReadMore:hover {
    background-color: rgb(228, 228, 228);
    width: 160px;
  }

  .homePlaneHide{
    display: none;
  }

  .homePostsArrowLeft, .homePostsArrowRight{
    background-color: rgb(61, 80, 176);
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 200px;
    z-index: 1000;
    margin: 30px;
  }

  .homePostsArrowLeft:hover, .homePostsArrowRight:hover{
    background-color: rgb(77, 94, 179);
  }

  .homeSubscriberContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .homeSubscriberWrapper{
    padding: 20px;
  }

  .homeSubscriberTable{
    border-collapse: separate;
    border-spacing: 50px 0;
  }

  .homeSubscriberIcon{
    font-size: 18px;
    color: rgb(97, 97, 97);
    margin-right: 10px;
  }

  .homeSubscriptionText{
    font-size: 18px;
    color: rgb(97, 97, 97);
  }
