.write{
    padding-top: 15px;
    margin-top: 40px;
    color: #2d2d2d;
}

.writeImg{
    margin-left: 150px;
    width: 85vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm{
    position: relative;
    margin-bottom: 50px;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(58, 128, 193);
    cursor: pointer;
}

.writeIcon:hover, .writeIconImg:hover{
    color:rgb(86, 144, 199)
}

.writeIconImg{
    margin-right: 10px;
    color: rgb(58, 128, 193);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.writeInput{
    font-size: 30px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    width: 70vw;
    font-family: 'Lora', 'serif';
    font-weight: bold;
}

input::placeholder, textarea::placeholder{
    color: #2d2d2d;
    font-family: 'Lora', 'serif';
}

.writeInput:focus{
    outline: none;
}

#textarea{
    border:none;
}

.writeLocationInput{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    width: 200px;
    margin-right: 10px;
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Lora', 'serif';
    color: gray;
    font-style: oblique;
}

.writeText{
    font-size: 20px;
    font-family: 'Lora', 'serif';
}

.writeText::placeholder{
    color: #2d2d2d;
    font-family: 'Lora', 'serif';
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(65, 72, 168);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

.writeSubmit:hover{
    background-color: rgb(75, 81, 167);
}

.sectionContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: 150px;
}

.sectionSpan{
    font-size: 20px;
    font-weight: bold;
    color: rgb(127, 127, 127);
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Lora', 'serif';
}

.sectionTitleWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.sectionInputHeader{
    width: 100%;
    padding: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}

.sectionInput{
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.sectionInput:focus{
    outline: none;
}

.sectionTitle{
    font-size: 20px;
    border: none;
    padding: 20px;
    width: 70vw;
    font-family: 'Lora', 'serif';
    font-weight: bold;
}

.sectionImgWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

.writeSectionImg{
    margin-top: 10px;
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.sectionImgClose{
    position: absolute;
    cursor: pointer;
    color: rgb(70, 70, 70);
}

.sectionInputListTitle{
    font-family: 'Lora', 'serif';
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

.sectionInputListItems{
    font-family: 'Lora', 'serif';
    margin-top: 10px;
    padding: 20px;
    font-size: 18px;
    font-style: italic;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

.writeSubmitSection{
    margin-top: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(65, 168, 139);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    width: 100px;
}

.writeSubmitSection:hover{
    background-color: rgb(67, 171, 142);
}

.sectionAddedNotification{
    margin-top: 10px;
    background-color: rgb(190, 220, 214);
    width: 120px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.sectionErrorNotification{
    margin-top: 10px;
    background-color: rgb(220, 190, 190);
    width: 180px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    font-weight: 800;
}

