.write{
    padding-top: 15px;
    margin-top: 40px;
    color: #2d2d2d;
}

.writeImg{
    margin-left: 150px;
    width: 85vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.writeIcon:hover{
    color:rgb(81, 78, 89)
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    font-family: 'Lora', 'serif';
    font-weight: bold;
}

.writeInput::placeholder{
    color: #2d2d2d;
    font-family: 'Lora', 'serif';
}

.writeInput:focus{
    outline: none;
}

.writeLocationInput{
    font-size: 20px;
    outline: none;
    border: none;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Lora', 'serif';
}

.writeText{
    font-size: 20px;
    height: 100vh;
    font-family: 'Lora', 'serif';
}

.writeText::placeholder{
    color: #2d2d2d;
    font-family: 'Lora', 'serif';
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(65, 72, 168);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

.writeSubmit:hover{
    background-color: rgb(75, 81, 167);
}

