.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to right, #7edbd1 0%,#97d1f2 35%,#8673db 100%); */
    background: var(--background-secondary);
    position: relative;
    width: 100%;
    overflow: hidden;
}

.homeText{
    text-align: center;
    font-size: 30px;
    font-family: 'Lora', 'serif';
    color: var(--latest-post-title);
    margin: 50px 0px 10px 0px;
}

.homePostsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    transition: all 0.5s ease-in-out;
    width: 170vw;
    left: 0;
    right: 0;
    top: 120px;
    position: absolute;
}

.homePostsContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .homePostsContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .homeReadMore{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* color: rgb(96, 125, 151); */
    color: white;
    font-family: 'Lora', 'serif';
    cursor: pointer;
    padding: 10px 20px;
    /* background-color: rgb(236, 236, 236); */
    background-color: var(--main-color);
    border: none;
    text-decoration: none;
    font-size: 16px;
    width: 140px;
    transition: all 0.5s linear;
    border-radius: 10px;
  }

  .homePlane{
    margin-left: 10px;
  }

  .homeReadMore:hover {
    background-color: var(--main-color-secondary);
    width: 160px;
  }

  .homePlaneHide{
    display: none;
  }

  .homePostsArrowLeft, .homePostsArrowRight{
    background-color: var(--main-color);
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 250px;
    z-index: 1000;
    margin: 30px;
  }

  .homePostsArrowLeft:hover, .homePostsArrowRight:hover{
    background-color: var(--main-color-secondary);
  }

  @media screen and (max-width: 1430px){

    .homePostsContainer{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: static;
    }

    .homePostsArrowLeft, .homePostsArrowRight{
      display: none;
    }

    .homeHr{
      display: none;
    }
  }

  @media screen and (max-width: 480px){
    .homeText{
      font-size: 20px;
    }
    
  }