.slider {
  height: 570px;
  width: 100%;
  overflow-x:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sliderImgWrapper {
  height: 100%;
  display: flex;
}
 
.slide {
  opacity: 0;
  transition-duration: 0.5s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.08);
}

.sliderImg{
      object-fit: cover;
      width: 100vw;
      height: 100%;
}

.sliderThumbnailsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  z-index: 500;
}

.thumbnailsWrapper{
  align-items: center;
  justify-content: center;
}

.sliderThumbnail{
  color: transparent;
  background-color: rgb(255, 255, 255);
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.sliderThumbnail:hover{
  background-color: rgb(207, 212, 219);
}

.sliderThumbnailPicked{
  color: transparent;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  background-color: rgb(154, 190, 233);
}
  


  