.slider {
  height: 96vh;
  width: 100%;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.sliderImgWrapper {
  height: 96vh;
  display: flex;
}
 
.slide {
  opacity: 0;
  transition-duration: 0.5s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.08);
}

.sliderImg{
      object-fit: cover;
      width: 100vw;
      height: 100%;
}

.sliderThumbnailsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  z-index: 500;
  position: absolute;
  top: 83vh;
}

.thumbnailsWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80px;
  justify-content: space-between;
}

.sliderThumbnail{
  color: transparent;
  background-color: rgb(255, 255, 255);
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 0px;
  cursor: pointer;
}

.sliderThumbnail:hover{
  background-color: rgb(207, 212, 219);
}

.sliderThumbnailPicked{
  color: transparent;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 0px;
  cursor: pointer;
  background-color: rgb(154, 190, 233);
}

.sliderDown{
  font-size: 40px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.25s linear;
}

.sliderDown:hover{
  transform: scale(1.08);
}

@media screen and (max-width: 995px){
  .sliderDown{
    margin-top: 20px;
    font-size: 30px;
  }
}
  


  