.sidebar{
    display: flex;
    flex: 3;
    flex-direction: column;
    padding-right: 10px;
    font-family: 'Lora', 'serif';
}

.sidebarItem{
    display: flex;
    margin-right: 15px;
}

.sidebarItemProfile{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.sidebarProfileWrapper{
    background-color: var(--main-color);
    display: flex;
    padding: 5px;
    border-radius: 50%;
}

.sidebarProfilePic{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.sidebarProfileInfoContainer{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.sidebarSocialIcon{
    margin-right: 10px;
    color: var(--text-primary)
}

.sidebarItem{
    display: flex;
}

.sidebarList{
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}

.sidebarListContainer{
    max-height: 270px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sidebarListContainer:hover{
    overflow-y: scroll;
}

.sidebarListContainer::-webkit-scrollbar{
    display: none;
}

.sidebarTitle{
    font-size: 14px;
    font-weight: bold;
    color: var(--text-primary);
}

hr{
    width: 100%;
    background-color: rgb(219, 219, 219);
    height: 1px;
    border: none;
    margin: 5px 0px;
}

.sidebarPostsWrapper{
    display: flex;
    padding: 5px;
    align-items: center;
}

.sidebarPostPicContainer{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarPostPic{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.sidebarPostContainer{
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-left: 10px;
    padding: 4px;
}

.sidebarPostsWrapper:hover{
    background-color: var(--background-section);
    border-radius: 10px;
}

.sidebarPostTitle{
    color: var(--text-primary);
    font-size: 12px;
}

.sidebarPostDate{
    font-size: 10px;
    color: rgb(140, 140, 140);
    font-style: italic;
}

.sidebarItemLocations{
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.sidebarListItemWrapper{
    display: flex;
    text-align: left;
    margin-bottom: 5px;
}

.sidebarListItemWrapper:hover{
    background-color: var(--background-section);
    border-radius: 10px;
}

.sidebarListItem{
    padding: 10px;
    color: var(--text-secondary);
}

@media screen and (max-width: 1300px){
    .sidebar{
        flex:2.5;
        padding: 0px;
    }
  }

  @media screen and (max-width: 1150px){
    .sidebar{
        margin: 0px 10px;
    }

    .sidebarList{
        background-color: var(--sidebar);
        padding: 2% 5%;
    }

    .sidebarPostsWrapper{
        width: 100%;
    }
    
    .sidebarItemProfile{
        display: none;
    }
    
    .sidebarProfileWrapper{
        display: none;
    }

    .sidebarItemLocations{
        display: none;
    }

    .sidebarPostPicContainer{
        height: 35px;
        width: 35px;
    }

    .sidebarTitle{
        font-size: 16px;
    }

    .sidebarPostTitle{
        font-size: 14px;
    }
    
    .sidebarPostDate{
        font-size: 10px;
    }
  }

