.dropdownStates{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    font-family: 'Josefin Sans', 'sans-serif';
    margin-left: 5px;
    font-size: 14px;
}

.dropdownState{
    display: flex;
    background-color: var(--state);
    color: white;
    border-right: 1px solid var(--state-hover);
    border-left: 1px solid var(--state-hover);
    border-bottom: 1px solid var(--state-hover);
    border-radius: 15px;
    margin-right: 5px;
    padding: 4px 10px;
    height: 100%;
}

.dropdownState:hover{
    background-color: var(--state-hover);
}