.header{
    margin-top: 80px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', 'serif';
    color: #444;
}

.headerTitleLg{
    position: absolute;
    top: 13%;
    font-size: 40px;
    color: rgb(39, 91, 140);
    z-index: 10;
}