.header{
    margin-top: 40px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', 'serif';
    color: #444;
}

.headerTitleLg{
    margin-top: 20px;
    font-size: 40px;
    color: rgb(88, 118, 145);
    z-index: 10;
}