.miniSearchbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.miniSearchbarBar{
    height: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}

.miniSearchbarBar .miniSearchPostsList {
    border: none;
}

.miniSearchbarBarActive{
    height: 15px;
    padding: 5px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    border-bottom: none;
}

hr{
    width: 100%;
    background-color: rgb(219, 219, 219);
    height: 1px;
    border: none;
}

.miniSearch{
    font-family: 'Lora', 'serif';
    font-size: 12px;
    border: none;
    outline: none;
    width: 200px;
    padding: 0px 5px;
    background-color: var(--background);
    color: var(--text-primary)
}

.miniSearchPostsList{
    position: absolute;
    top: 25px;
    margin-left: -11px;
    background-color: var(--background);
    border: 1px solid grey;
    border-top: none;
    max-height: 300px;
    overflow: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.miniSearchPostsList::-webkit-scrollbar{
    display: none;
}

.miniSearchPostsWrapper{
    display: flex;
    padding: 5px;
    align-items: center;
}

.miniSearchPostPicContainer{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniSearchPostPic{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.miniSearchPostContainer{
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-left: 10px;
    padding: 4px;
}

.miniSearchPostsWrapper:hover{
    background-color: var(--background-section);
    border-radius: 10px;
}

.miniSearchPostTitle{
    color: var(--text-primary);
    font-size: 12px;
}

.miniSearchPostAuthor{
    color: var(--main-color);
    font-size: 12px;
}

.miniSearchPostDate{
    font-size: 10px;
    color: rgb(140, 140, 140);
    font-style: italic;
}

.miniSearchPostsEmpty{
    display: flex;
    font-family: 'Lora', 'serif';
    font-style: italic;
    font-size: 12px;
    color: gray;
    padding: 20px 10px 20px 10px;
    width: 210px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px){
    .miniSearchPostsList{
        max-height: 500px;
    }
}
