.travel{
    margin-top: 60px;
    display: flex;
}

.travelUserPic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travelUserUsername{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 20px;
    color: #be9656;
    line-height: 20px;
    margin-top: 15px;
}