.travel{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    /* background-color: rgb(249, 249, 249); */
}

.travelUserContainer{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: rgb(247, 248, 249);
    padding: 20px;
    flex-direction: column;
}

.travelUserPosts{
    flex: 9;
    overflow: hidden;
}

.travelCats{
    display: flex;
    padding: 5px 10px;
    background-color: rgb(98, 145, 203);
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    z-index: 1000;
    animation: fade-slide-up 0.4s 0.4s ease-out forwards;
    opacity: 0;
    font-size: 14px;
}

@keyframes fade-slide-up {
0% {
opacity: 0;
transform: translateY(4rem);
}
100% {
opacity: 1;
transform: none;
}
}

.travelCats::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .travelCats {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.travelCat{
    font-family: 'Josefin Sans', 'sans-serif';
    padding: 4px 30px;
    color: white;
}

.travelCat:hover{
    background-color:rgb(91, 126, 170);
    border-radius: 5px;
}

.hideDropdown{
    display: none;
}

.travelUserPicWrapper{
    background-color: #5694be;
    padding: 5px;
    border-radius: 50%;
}

.travelUserPic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travelUserUsername{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 20px;
    color: #be9656;
    line-height: 20px;
    margin-top: 15px;
}

.travelUserPostsCount{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 15px;
    color: #999999;
    margin-top: 30px;
}

.travelUserFavorites{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 15px;
    color: #5694be;
    margin-top: 15px;
}

.travelUserContactText{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 15px;
    color: #5664be;
    margin-top: 15px;
}

.travelSocialContainer{
    display: flex;
    margin: 15px 10px;
}

.travelSocialIcon{
    margin-left: 5px;
    margin-right: 5px;
}