.travel{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    background-color: var(--background-secondary);
    color: var(--text-primary);
}

.travelUserContainer{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--profile-section-bg);
    padding: 20px;
    flex-direction: column;
}

.travelUserPosts{
    flex: 9;
    overflow: hidden;
}

.travelCats{
    margin-top: 5px;
    display: flex;
    padding: 5px 10px;
    background-color: var(--banner);
    align-items: center;
    overflow-x: scroll;
    z-index: 1000;
    animation: fade-slide-up 0.4s 0.4s ease-out forwards;
    opacity: 0;
    font-size: 14px;
}

@keyframes fade-slide-up {
0% {
opacity: 0;
transform: translateY(4rem);
}
100% {
opacity: 1;
transform: none;
}
}

.travelCats::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .travelCats {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.travelCat{
    font-family: 'Josefin Sans', 'sans-serif';
    padding: 4px 30px;
    color: white;
}

.travelCat:hover{
    background-color:rgb(91, 126, 170);
    border-radius: 5px;
}

.hideDropdown{
    display: none;
}

.travelUserPicWrapper{
    background-color: #5694be;
    padding: 5px;
    border-radius: 50%;
}

.travelUserPic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travelUserUsername{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 20px;
    color: var(--main-color);
    line-height: 20px;
    margin: 15px 0px 10px 0px;
}

.travelUserStatsBox{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--profile-boxes);
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-family: 'Varela Round', 'sans-serif';
}

.travelUserPostsText{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.travelUserPostsCount{
    font-size: 15px;
    margin-bottom: 5px;
    color: #5694be;
}

.travelUserContactText{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 15px;
    color: #5694be;
    margin-top: 15px;
    cursor: pointer;
}

.travelSocialContainer{
    display: flex;
    margin: 15px 10px;
}

.travelSocialIcon{
    margin-left: 5px;
    margin-right: 5px;
}

.travelContactMe{
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 240, 240, 0.289);
    position: fixed;
    z-index: 2000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.travelContactMeWrapper{
    width: 500px;
    background-color: var(--background);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    position: relative;
    font-family: 'Lora', 'serif';
    font-size: 15px;
    border: 1px solid #5677be;
    flex-direction: column;
}

.travelContactMeClose{
    position: absolute;
    cursor: pointer;
    top: 22px;
    left: 10px;
    color:var(--main-color);
}

.travelContactMeFormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.travelContactMeHeader{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--text-primary);
}

.travelContactMeHeaderUser{
    color: var(--main-color);
}

.travelContactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.travelContactFormSubject,
.travelContactFormEmail,
.travelContactFormMessage{
    border-radius: 7px;
    text-align: center;
    padding: 20px 70px;
    display: inline-block;
    border: none;
    background-color: var(--background-hover);
    outline: none;
}

.travelContactFormSubmit{
    height: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0 10px 0;
    width: 150px;
    background-color: var(--btn);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

@media screen and (max-width: 800px){
    .travel{
        flex-direction: column;
    }

    .travelUserPic{
        width: 150px;
        height: 150px;
    }

    .travelUserUsername{
        font-size: 15px;
    }
    
    .travelUserStatsBoxContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .travelUserStatsBox{
        width: 85px;
        margin-right: 10px;
    }

    .travelCats{
        display: none;
    }

    .travelUserStatsBoxContainer{
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px){

    .travelUserUsername{
        font-size: 15px;
    }
    
    .travelUserStatsBoxContainer{
        justify-content: space-between;
    }
    
    .travelContactMeWrapper{
        width: 300px;
    }
    
    .travelContactFormMessage{
        padding: 20px 20px;
    }
}

